<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSCameraUsageDescription</key>
        <string>We need access to your camera for KYC verification</string>
        
        <key>NSMicrophoneUsageDescription</key>
        <string>We need access to your microphone for video KYC verification</string>
        
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>We need your location to enhance security and verify your session</string>
    </dict>
</plist>
